html, body{
	font-size height: 100%;
	font-size width: 100%;
	font-family: 'Montserrat', sans-serif;
	background: url(lambo.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

hr {
	display:  block;
	margin-top: 2rem;
	margin-bottom: 1rem;
	border-width: 5px;
	max-width: 160px;
	
	background-color:  #d762ca;
	}

h1{
	color: white;
}




.btn-primary{
	background-color: #d762ca;
	border-color: #d762ca;
	border-radius: 200px;
	text-transform: uppercase;
}

.btn-primary:hover{
	background-color: #d762ca;
	border-color: #d762ca;
	border-width: 4px;
}

.buffer{
	height: 2rem;
}

	
